/*
These are the styles for the whole document
*/

.main-title {
  background: red;
  padding: 10px 35px;
}

.fancy-font,
.navbar {
  font-family: "Roboto Mono", monospace;
  color: rgba(60, 63, 69, 0.817);
}
